# dependencies
node_modules/

# builds
dist/
server/dist/
client/dist/

# env & secrets
.env
.env.*
server/.env
client/.env

# local dbs (if ever used)
prisma/*.db
*.sqlite

# logs & misc
*.log
.DS_Store
.vscode/